.reviews-item {
  display: flex;
}

.reviews-item:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.reviews-wrapper {
  margin-right: 30px;
}

.reviews-wrapper-img {
  margin-bottom: 10px;
  width: 100px;
  height: auto;
}

.reviews-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews-title {
  margin-bottom: 5px;
  font-size: 22px;
  color: #fff;
}

.reviews-text {
  font-size: 18px;
}
