.movie-wrapper {
  padding: 20px 150px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 18px;
}

@media screen and (max-width: 1650px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
