.home-wrapper {
  padding: 20px 150px;
}

.home-title {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.home-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 18px;
  padding-top: 20px;
}

@media screen and (max-width: 1650px) {
  .home-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .home-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .home-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
